logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings
.target
.idea
.idea_modules
/bin/
RUNNING_PID
.cache-main
.cache-tests
h2database
/public/videos
/public/img
/public/videos_previews
public/films/1
a.conf
b.conf
conf/application.conf
